:root {
    --white: #ffffff;
    --light-grey: #D7E0E9;
    --dark-grey: #353739;
    --blue: #1f77b4;
    --green: #1a9641;
    --red: #D9534F;

}

body {
  background-color: var(--light-grey);
}

h3 {
  font-size: 10px;
}

.navbar {
   position: fixed;
   width: 14em;
   top: 0;
   left: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   gap: 1em;
   background-color: var(--white);
}

.navbar-link {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-left: 0;
   font-size: 16px;
   font-weight: 600;
   color: var(--dark-grey);
   margin-bottom: 25px;
   pointer: cursor;
}

.navbar-link:focus {
    color: var(--dark-grey);
}

.navbar-link .fa-solid {
    font-size: 16px;
    padding-right: 8px;
    color: var(--dark-grey);
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: var(--blue);
}

.navbar-link:hover .fa-solid {
    color: var(--blue);
}

.cards-section {
   margin-bottom: 50px;
}

.lowest-salary {
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.highest-salary {
    color: var(--green);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.average-salary{
    color: var(--blue);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card-body {
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.card-title {
   font-weight: 500;
   font-size: 16px;
}

.card-country-name {
    font-size: 14px;
}

.card-body p {
    color: #6C757D;
}

.dropdown-container {
   padding-bottom: 20px;
}

.dropdown-item {
   padding-bottom: 10px;
   font-size: 12px;
}

.checklist-container {
    padding-bottom: 1em;
}

.graphs-container {
    display: flex;
    align-items: flex-end;
}

.info-button {
    background-color: var(--blue);
    border: none;
    margin-top: 2em;
    margin-bottom: 1em;
}

.info-button:hover {
    background-color: var(--blue);
}